= form_for @listing do |f|
  - if @listing.errors.any?
    %h2
      = pluralize(@listing.errors.count, "error")
      prohibited this listing from being saved:
    %ul
      - @listing.errors.full_messages.each do |msg|
        %li #{msg}

  .form-group
    = f.label :title
    = f.text_field :title, placeholder: 'Listing title', class: 'form-control'
  .form-group
    = f.label :description
    = f.text_field :description, placeholder: 'Listing description', class: 'form-control'
  .form-group
    = f.label :set_price
    = f.text_field :set_price, class: 'form-control'
  .form-group
    = f.label :end_date
    = f.datetime_select :end_date, default: Time.now + 1.day, class: 'form-control'
  = f.submit class: 'btn btn-success'
  = link_to 'Back', root_path, class: 'btn btn-default'
