.col-md-10.col-md-offset-1{style: 'margin-bottom: 25px;'}
  %section{style: 'margin-bottom: 25px;'}
    %h1 #{@listing.title}
    %p #{@listing.description}
    %span{style: 'font-size: 14px; font-weight: bold;'} Listed by #{@listing.user.email} on #{@listing.created_at.strftime('%d-%b-%y, %I.%M%P')}
  %p
    Base Price:
    %span{style: 'font-weight: bold;'} MYR #{@listing.base_price}
  %p
    Current Price:
    %span{style: 'font-weight: bold;'} MYR #{@listing.final_price}
    (#{@listing.bids.count} bids)
  - unless @listing.end_date < Time.now
    .form-group
      = form_for @bid, url: listing_bids_path(@listing) do |f|
        .row
          .col-sm-2.col-xs-3
            Place Bid:
          .col-sm-2.col-xs-3
            = f.text_field :amount, placeholder: '1.00', class: 'form-control'
          .col-sm-2.col-xs-2
            = f.submit 'Bid', class: 'btn btn-success'
  %p
    - if @listing.end_date > Time.now
      Time Left:
      %span{style: 'font-weight: bold; color: red;'} #{distance_of_time_in_words(Time.now, @listing.end_date, include_seconds: true)}
    - else
      %span{style: 'font-weight: bold; color: red;'} Ended
    %span{style: 'font-size: 14px;'} (#{@listing.end_date.strftime('%d-%b-%y, %I.%M%P')})
  %section{style: 'margin-top: 25px;'}
    - if @listing_bids.any?
      %p{style: 'font-weight: bold;'} Bids (newest first):
      - @listing_bids.each do |listing_bid|
        %ul
          %li
            %span MYR #{listing_bid.amount} by
            %span{style: 'font-weight: bold;'} #{listing_bid.user.email}
            %span on #{listing_bid.created_at.strftime('%d %b %y, %I.%M%P')}
  %section{style: 'margin-top: 25px;'}
    - if current_user && current_user.id == @listing.user.id
      = link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-warning'
    = link_to 'Back', root_path, class: 'btn btn-default'
