= form_for @item do |f|
  .form-group
    = f.label :title
    = f.text_field :title, placeholder: 'item title', class: 'form-control'
  .form-group
    = f.label :description
    = f.text_field :description, placeholder: 'item description', class: 'form-control'
  .form-group
    = f.label :base_price
    = f.text_field :base_price, placeholder: 'item base price', class: 'form-control'
  .form-group
    = f.label 'Listing Ends'
    = f.date_select :expire_date, class: 'form-control'
  = f.submit class: 'btn btn-success'
  = link_to 'Back', root_path, class: 'btn btn-default'
