.col-md-10.col-md-offset-1{style: 'margin-bottom: 25px;'}
  %section{style: 'margin-bottom: 25px;'}
    %h1 #{@item.title}
    %p #{@item.description}
    %span{style: 'font-size: 14px; font-weight: bold;'} Listed by #{@item.user.email} on #{@item.created_at.strftime('%d-%b-%y, %I.%M%P')}
  %p
    Base Price:
    %span{style: 'font-weight: bold;'} MYR #{@item.base_price}
  %p
    Current Price:
    %span{style: 'font-weight: bold;'} MYR #{@item.final_price}
    (#{@item.bids.count} bids)
  - unless @item.end_date < Time.now
    .form-group
      = form_for @bid, url: item_bids_path(@item) do |f|
        .row
          .col-sm-2.col-xs-3
            Place Bid:
          .col-sm-2.col-xs-3
            = f.text_field :amount, placeholder: '1.00', class: 'form-control'
          .col-sm-2.col-xs-2
            = f.submit 'Bid', class: 'btn btn-success'
  %p
    - if @item.end_date > Time.now
      Time Left:
      %span{style: 'font-weight: bold; color: red;'} #{distance_of_time_in_words(Time.now, @item.end_date, include_seconds: true)}
    - else
      %span{style: 'font-weight: bold; color: red;'} Ended
    %span{style: 'font-size: 14px;'} (#{@item.end_date.strftime('%d-%b-%y, %I.%M%P')})
  %section{style: 'margin-top: 25px;'}
    - if @item_bids.any?
      %p{style: 'font-weight: bold;'} Bids (newest first):
      - @item_bids.each do |item_bid|
        %ul
          %li
            %span MYR #{item_bid.amount} by
            %span{style: 'font-weight: bold;'} #{item_bid.user.email}
            %span on #{item_bid.created_at.strftime('%d %b %y, %I.%M%P')}
  %section{style: 'margin-top: 25px;'}
    - if current_user && current_user.id == @item.user.id
      = link_to 'Edit', edit_item_path(@item), class: 'btn btn-warning'
    = link_to 'Back', root_path, class: 'btn btn-default'
