.col-md-10.col-md-offset-1{style: 'margin-bottom: 25px;'}
  %section{style: 'margin-bottom: 25px;'}
    %h1 #{@item.title}
    %p #{@item.description}
    %span{style: 'font-size: 14px; font-weight: bold;'} Listed by #{@item.user.email} on #{@item.created_at.strftime('%d-%b-%y, %I.%M%P')}
  %p
    Base Price:
    %span{style: 'font-weight: bold;' } MYR #{@item.base_price}
  .form-group
    = form_for @bid, url: item_bids_path(@item) do |f|
      .row
        .col-sm-2
          Place Bid:
        .col-sm-2
          = f.text_field :amount, placeholder: '1.00', class: 'form-control'
        .col-sm-2
          = f.submit 'Bid', class: 'btn btn-success'
  %p
    Current Price: 
    %span{style: 'font-weight: bold;' } MYR #{@item.final_price}
  %section{style: 'margin-top: 25px;'}
    %p{style: 'font-weight: bold;'} Bids (newest first):
    - if @item_bids.any?
      - @item_bids.each do |item_bid|
        %ul
          %li 
            %span MYR #{item_bid.amount} by
            %span{style: 'font-weight: bold;'} #{item_bid.user.email} 
            %span on #{item_bid.created_at.strftime('%d %b %y, %I.%M%P')}
  %section{style: 'margin-top: 25px;'}
    - if current_user && @item.user
      = link_to 'Edit', edit_item_path(@item), class: 'btn btn-warning'
    = link_to 'Back', root_path, class: 'btn btn-default'
