!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AuctionSite
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      %section{style: 'padding-top: 15px;'}
        = link_to 'AuctionSite', root_path, class: 'btn btn-default btn-lg'
        - if user_signed_in?
          Signed In As: #{current_user.email}
        = render 'alert'
      = yield
